.main-tool-panel{
    background: white;
    padding: 10px;
    border: 3px solid rgba(252,176,69,1);
    display: flex;
    justify-content: space-around;
}

.tool-container{
    display: inline-flex;
    gap: 10px;
    align-items: center;
}