.result-meme {
  margin-top: 30px;
}
.result-meme figure {
  width: 500px;
  height: 500px;
  margin: auto;
  background: black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 9px 28px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.result-meme figure img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.result-meme figure p {
  position: absolute;
  font-size: 12px;
  margin: 0;
  max-width: 460px;
  word-break: break-all;
  font-family: "Arial", sans-serif;
}

.result-meme figure p.left {
  left: 20px;
}

.result-meme figure p.center {
  left: 50%;
  transform: translateX(-50%);
}

.result-meme figure p.right {
  right: 20px;
}

.result-meme figure p.top-text {
  top: 40px;
}

.result-meme figure p.bottom-text {
  bottom: 40px;
}

.result-meme button {
  border: 0;
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 50px;
  background: rgba(232, 34, 56, 1);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 9px 28px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.5s;
}

.result-meme button:hover {
  background: linear-gradient(
    159deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.swal2-container .swal2-title {
  font-size: 20px;
  padding-top: 40px;
}
.swal2-container .swal2-styled.swal2-confirm {
  font-size: 15px;
  background: rgba(252, 176, 69, 1);
}

@media (max-width: 600px) {
  .result-meme figure {
    width: calc(100vw - 100px);
    height: calc(100vw - 100px);
  }
}
