.result-meme figure{
    width: 500px;
    height: 500px;
    margin: auto;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 9px 28px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


@media (max-width: 600px) {
    .result-meme figure{
        width: calc(100vw - 100px);
        height: calc(100vw - 100px);
    }
}