@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

* {
  padding: 0;
}

html{
  background: rgb(131,58,180);
  background: linear-gradient(159deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  min-height: 100vh;
}

body{
  background: none;
  font-family: 'Chelsea Market', cursive;
}

.step-container{
  padding: 20px 0;
}

.step-subtitle{
  font-size: 20px;
  text-align: left;
}

.step-subtitle.one{
  color: rgba(252,176,69,1);
}